* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    background: gray;
}

 body { 
    background: purple; 
    font: 13px Helvetica, Arial; 
    max-width: 960px; 
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.header{
    background: #37B3B8;
    height: 4vh;
    /* position: sticky; */
}
.container{
    background: #37B3B8;
    display: flex;
    height: 96%;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}
.messageside{
    width: 70%;
    height: 92vh;
    background: #B3D0D1;
    /* overflow: auto; */
}
.users{
    width: 30%;
    height: 100%;
    background: #288285;
}
form { 
    display: flex;
    background: #37B3B8;
    position: relative;
    /* margin-top: 92vh; */
    height: 4vh;
    /* padding: 3px;  */
    /* position: relative; */
    /* width: 100%; */
    /* max-width: 960px; */
    /* position: fixed;  
    bottom: 0;
    margin-left: auto; 
    margin-right: auto; 
    align-self: bottom; */
   
}
form input { 
    background:#B3D0D1;
    border: 0;
    margin: 0.5%;
    padding: 10px;
    /* padding: 10px;
    margin-top: 3px;
    margin-bottom: 3px;  */
    width: 90%; 
    border-color: #37B3B8;
    border: 10px;
    /* margin-right: 0.5%;  */
}
form button { 
    margin: 0.5%;
    width: 9%; 
    background:#B3D0D1; 
    border: none;
    /* margin: 0.3%;
    margin-left: 5px;  */
    /* padding: 10px;  */
}
#messages { 
    list-style-type: none; 
    margin: 0; 
    padding: 0;
    height: 92vh;
    background: #B3D0D1;
    overflow: auto; 
}
#messages li { 
    padding: 5px 10px; 
}
#messages li:nth-child(odd) { 
    background: #eee; 
}